.aboutUs{
    .col-aboutUs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @include medium-screen{
            grid-template-columns: 2fr 1fr;
        }
        @include small-screen{
            grid-template-columns: 1fr;
        }
        .description{
            @include small-screen{
                margin: auto;
            }
            h3{
                font-size:40px;
                font-weight: medium;
            }
            p{
                width: 90%;
                @include small-screen{
                    width: 99%;
                }
            }
            button.btn-transparent{
                border : 1px solid $green;
            }
            .border-end{
                border-right: solid 1px $ligne;
            } 
        }
        .numbers{
            margin: 2em 0;
            display:grid;
            grid-template-columns:repeat(2,1fr);

            .number{
                margin: auto;
                width: 192px;
                height: 100%;
                padding : 15px;
                text-align:center;
                @include medium-screen {
                    width: 150px;
                }
                .num{
                    h3{
                        font-size:40px;
                        font-weight: medium;
                        @include medium-screen{
                            font-size:35px;
                        }
                    }
                }
                .text{
                    p{
                        color:$pNum;
                    }
                }
            } 
        }
    }
}