.grow{
    padding: 8em;
    margin: auto;
    text-align: center;
    h2{
        margin-bottom : 2em;
        font-size:40px;
        font-weight: medium;
    }
    .content{
        .header{
            h3{
                margin-top:1em;
                font-size: 20px;
            }
            
        }
        .text{
            p{
                font-size:16px;
            }
        }
    }
}