.decor{
    position: absolute;
    opacity: 0.5;
}
header{
    .decor{
        top:-36px;
        z-index: 2;
        pointer-events: none;
    }
}
.partenar{
    position: relative;
    .decor{
        top:-8em;
    }
}
.howWork{
    .decor{
        right: 0;
    }
}


.aboutUs{
    .decor{
        z-index: -1;
        right: 0;
    }
}







